.fondo {
    background-repeat: no-repeat;
    background-image: url(https://www.participacionbogota.gov.co/sites/default/files/2020-03/RecomendacionesPH_SlideWeb.jpg);
    height: 800px;
    width: 1430px;
    position: relative;
    background-color: aquamarine;
}