.fondo {
    background-repeat: no-repeat;
    background-image: url(https://www.participacionbogota.gov.co/sites/default/files/2020-03/RecomendacionesPH_SlideWeb.jpg);
    height: 900px;
    width: 1460px;
    position: relative;
    background-color: aquamarine;
}

div{
    height: 900px;
    width: 1460px;
    background-repeat: no-repeat;
}