
<div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
  </div><body>
    <div class="container">
      <!-- Page Content goes here --><div class="row 5">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Segundo-Nombre" aria-label="Nombre">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Apellido" aria-label="First-name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Segundo-Apellido" aria-label="Last-name">
          </div>
        </div>
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Documento" aria-label="txtDocumento">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Telefono" aria-label="txtTelefono">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Escritura" aria-label="txtEscritura">
          </div>
        
          
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Crear Nuevo propietario</button>
          </div>
    </div>
    
      
  </body>
