<body>
  <div class="container">
    <!-- Page Content goes here -->
    <div class="row 5">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nit" aria-label="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre Conjunto" aria-label="Nombre">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="direccion" aria-label="First-name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="telefono" aria-label="Last-name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="estrato" aria-label="Last-name">
      </div>
    </div>
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">correo</label>
      <input type="email" class="form-control" id="email">
    </div>

    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Cuenta Bancaria" aria-label="txtCuentaBancaria">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Banco" aria-label="txtBanco">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Interes Mora" aria-label="txtInteresMora">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Consecutivo Factura" aria-label="txtConsecutivoFactura">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Presupuesto" aria-label="txtPresupuesto">
    </div>

  </div>
</body>