
<body>
    <div class="container">
      <!-- Page Content goes here -->
      <div class="row 5">
        <div class="col">
          <label><i class="small material-icons">people</i> Nombre</label>
          <input type="text" class="form-control" placeholder="" aria-label="Nombre">
        </div>
        <div class="col">
          <label><i class="small material-icons">mode_comment</i> opcional</label>
          <input type="text" class="form-control" placeholder="" aria-label="Nombre">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label><i class="small material-icons">people</i> apellido</label>
          <input type="text" class="form-control" placeholder="" aria-label="First-name">
        </div>
        <div class="col">
          <label><i class="small material-icons">mode_comment</i> opcional</label>
          <input type="text" class="form-control" placeholder="" aria-label="Last-name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label><i class="small material-icons">contact_mail</i> correo</label>
          <input type="email" class="form-control" id="email">
        </div>
  
        <div class="col-md-4">
          <label><i class="small material-icons">contacts</i> documento</label>
          <input type="text" class="form-control" placeholder="" aria-label="txtDocumento">
        </div>
        <div class="col-md-4">
          <label><i class="small material-icons">contact_phone</i> telefono</label>
          <input type="text" class="form-control" placeholder="" aria-label="txtTelefono">
        </div>
        <div class="col-md-4">
          <label> <i class="small material-icons">folder_shared</i> profesion</label>
          <input type="text" class="form-control" placeholder="" aria-label="txtEscritura">
        </div>
      </div>
       <br>
      <div class="col-12" >
        <button type="submit" class="btn btn-warning" Style="margin-left: 45%;">Crear Nuevo administrador</button>
      </div>
    </div>
    <br>
  
  
  </body>
<!-- se nesecita crear primero el  admiistrador con el boton y que lo guarde en la base de datos y lo mismo para el propietario   -->