<body>
  <div class="container">
    <!-- Page Content goes here -->
    <form [formGroup]="formAdministracion" (ngsubmit)="guardarAdministrador()">
      <div class="row">
        
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" type="text" class="validate" formControlName="id">
              <label for="id" class="active">id</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Placeholder" type="text" class="validate" formControlName="primer_nombre">
              <label for="primer_nombre" class="active">First Name</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Placeholder"  type="text" class="validate"  formControlName="segundo_nombre">
              <label for="segundo_nombre" class="active">second Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" class="validate" formControlName="primer_apellido">
              <label for="primer_apellido" class="active">Last Name</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Placeholder" type="text" class="validate"  formControlName="segundo_apellido">
              <label for="segundo_apellido"> second last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" type="text" class="validate" formControlName="documento">
              <label for="documento" class="active">documento</label>
            </div>
          </div>
          <div class="row">

          </div>
          <div class="row">
            <div class="input-field col ">
              <input id="email" type="email" class="validate" formControlName="correo">
              <label for="email" class="active">correo</label>
            </div>
          </div>
          <div class="row"><div class="input-field col ">
            <input  type="password" class="validate" formControlName="contrasena">
            <label for="contrasena" class="active">Contraseña</label>
          </div>
        </div>
          
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" type="text" class="validate" formControlName="profesion">
              <label for="profesion" class="active">Profesion</label>
            </div>
          </div>
        
      </div>
     
      <div class="col-12">
        <button [disabled]="!formAdministracion.valid" type="submit" class="btn btn-info" Style="margin-left: 45%;"> <i
            class="small material-icons">file_upload</i>Guardar Cambios</button>
      </div>

      
    </form>
  </div>



</body>