<div>
    <a class="waves-effect waves-light btn"><i class="material-icons left" routerLink="/administracion/crear-administracion">cloud</i>button</a>
  </div>
  
  <table>
    <thead>
      <tr>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Documento</th>
          <th>Correo</th>
          <th>Celular</th>
          <th>Profesion</th>
  
      </tr>
    </thead>
  
    <tbody *ngFor="let administracion of listadoAdministracion">
      <tr>
        <td>{{administracion.primer_nombre}}</td>
        <td>{{administracion.segundo_nombre}} </td>
        <td>{{administracion.apellido}} </td>
        <td>{{administracion.segundo_apellido}} </td>
        <td>{{administracion.documento}} </td>
        <td>{{administracion.correo}} </td>
        <td>{{administracion.celular}} </td>
        <td>{{administracion.profesion}} </td>
        <td><a routerlink="/administracion/actualizar-administracion/"{{administracion.id}}>
          <span>editar</span>
        </a></td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>