
<div>
    <a class="waves-effect waves-light btn" routerLink="/administracion/crear-administracion"><i class="material-icons left" >cloud</i>Registrar Administrador</a>
  </div>
  <br>
  
  <table>
    <thead>
      <tr>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Documento</th>
          <th>Correo</th>
          <th>Celular</th>
          <th>Profesion</th>
  
      </tr>
    </thead>
  
    <tbody *ngFor="let administracion of listadoAdministracion">
      <tr>
        <td>{{administracion.primer_nombre}}</td>
        <td>{{administracion.segundo_nombre}} </td>
        <td>{{administracion.apellido}} </td>
        <td>{{administracion.segundo_apellido}} </td>
        <td>{{administracion.documento}} </td>
        <td>{{administracion.correo}} </td>
        <td>{{administracion.celular}} </td>
        <td>{{administracion.profesion}} </td>
        <td><a routerlink="/administracion/actualizar-administracion/"{{administracion.id}}>
          <span>Editar</span>
        </a></td>
      </tr>
     
    </tbody>
  </table>