
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">Propiedad horizontal.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            &copy Harold Velasco;
            &copy Jhon Mora;
            &copy Jean Meneses;
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 copyright Text
      
    </div>
    </div>
    <i class="large material-icons">airline_seat_individual_suite</i>
  </footer>
