<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4">
        <h5>Propiedad horizontal.</h5>
        <img
          src="https://cdn-3.expansion.mx/6d/6d4780ee2af353708f3d239c4f555227/administracion-inmobiliaria20180503102327.jpg"
          alt="Imagen">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Diseñado Por </h5>
        <ul>
          <li>&copy Harold Velasco</li>
          <li>&copy Jhon Mora</li>
          <li> &copy Jean Meneses</li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 copyright Text
    </div>

  </div>
  <div class="logos"><i class="large material-icons">subway
      panorama
      home
    </i></div>


</footer>