
<body>
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row 5">
            <div class="col">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Nombre">
                    </div>
                     <div class="col">
                        <label>Ultimo NOmbre</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Nombre">
                    </div>
        <div class="row">
            <div class="col">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="" aria-label="First-name">
                </div>
                <div class="col">
                <label>Ultimo Apellido</label>
                <input type="text" class="form-control" placeholder="" aria-label="Last-name">
            </div>
                </div>
                <div class="col-md-3">
                    <label >Documento</label>
                    <input type="text" class="form-control" placeholder="" aria-label="txtDocumento">
                </div>
        <div class="col-md-5">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>    
        <div class="col-md-3">
            <label >Telefono</label>
            <input type="text" class="form-control" placeholder="" aria-label="txtTelefono">
        </div>
        <div class="col-md-3">
            <label >Targeta Profesional</label>
            <input type="text" class="form-control" placeholder="" aria-label="txtTarjetaProesional">
        </div>


        <div class="col-12"><br>
            <button type="submit" class="btn btn-primary" id="Btn">Crear Nuevo Contador</button>
        </div>
    </div>
</div>>

</body>